<div class="py-8 md:py-12">
  <div class="container mx-auto px-4 md:px-6">
    <div class="mt-6 grid grid-cols-2 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    {% for product in collection.products %}
      {% render 'product-card', product: product, add_collection_url: true %}
    {% endfor %}
    </div>
  </div>
</div>