/* 
 * Do not write css / scss here
 * Cteate section wise sass / scss and @import that to here
 */

.bg-theme,
.hover\:bg-theme:hover {
  background-color: rgb(0, 0, 0);
}

.text-theme,
.hover\:text-theme:hover {
  color: rgb(0, 0, 0);
}

.border-theme,
.hover\:border-theme:hover {
  border-color: rgb(0, 0, 0);
}